<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">  
</head>
<body>

        <div class="box" id="heading">    
        <h1 ><%=listTitle%></h1>
        </div>

        <div class="box">  
          <% for( let index = 0; index < workList.length; index++ ) { %>
            <div class="item">
              <input type="checkbox">
               <p><%= workList[index] %></p>
            </div>
         <% } %>

         
        <div >
          <form class=" item" action="/" method="post">
            <input type="text" name="workItem" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
          </form>
  
        </div>
       


  
</body>
</html>

